nav {
  background: #FFB4B0; /* red */
}

ul#nav {
  list-style-type: none;

}

ul#nav li {
  display: inline;
}

.title {
  color: #785616; /* dark yellow */
}

section, nav {
  border: 2px solid black;
}

.col-md-2 {
  background: #4DD7FA; /* blue */
}

.col-md-8 {
  background: #FEFAC0; /* light yellow */
}

.filter {
  display: block;
}


ul > li {
  display: inline;
  list-style-type: none;
  margin: 5px 15px 0 15px;
  background-color: goldenrod;
  padding: 5px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

body {
  font-size: 2em;
}